h1 {
  text-align: center;
  text-transform: capitalize;
}
#searchForm {
  padding: 10px 0;
  margin: 10px 5px 0;
  text-align: center;
}

#searchText {
  padding: 10px;
  border: 1px solid #666;
  font-size: 14px;
  color: #333;
  width: 140px;
}

#searchForm button {
  padding: 10px;
  background: #C00;
  color: #fff;
  font-weight: bold;
  margin: 0 5px;
  font-size: 14px;
  width: 100px;
  border: 1px solid #C00;
}

#searchForm button:disabled, #metrics:disabled {
  background-color: #CCC;
  border: 1px solid #CCC;
}

#image_container{
    margin: 5px;
    padding: 5px;   
    display: flex; 
    justify-content: center;
}

#image_container_title{
  margin: 5px 5px 0 5px;
  padding: 5px;   
  display: flex; 
  justify-content: center;
}

#image_container_title div{
  margin: 5px 5px 0 5px;
  display: inline-block;
  width: 50vw;
}

#image_container_title div#akamai_title {
  color: #39937e;
  text-transform: uppercase;
  font-size: 14px;
}

#image_container_title div#zycada_title {
  color: #d34554;
  text-transform: uppercase;
  font-size: 14px;
}

#image_container_title div h2 {
  margin: 0;
}

.imageContainer img {
    margin: 5px;
    width: 75px;
}

#akamai {
    margin: 5px;
    border: 4px solid #39937e;
    display: inline-block;
    width: 50vw;
    vertical-align: top;
    height: 335px;
    overflow: auto;
  }

  #zycada {
    margin: 5px;
    border: 4px solid #d34554;
    display: inline-block;
    width: 50vw;
    vertical-align: top;
    height: 335px;
    overflow: auto;
  }


  #button_container {
    clear: both;
    text-align: center;
  }

  #metrics {
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    background-color: #C00;
    border: 1px solid #C00;
    color: #fff;
    margin: 20px 5px;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
  }

  #stat_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #charts_container{
    width: 100%; 
    max-width: 960px;
    text-align: center;
  }

  table {
    width: 100%;
    max-width: 960px;
    margin: 40px auto;
    text-align: center;
  }
  
  th {
    border: 1px solid #666;
    padding: 5px 10px;
  }

  td {
    border: 1px solid #666;
  }

  #table_metrics {
    display: none;
    width: 100vw;
  }

  #singleAPI {
    margin: 10px;
  }

  #chartOptions {
    display: none;
  }

  #xhrOptions, #chartOptions {
    margin: 0 0 20px 0;
  }

  #xhrOptions input, #chartOptions input {
    margin: 0 10px;
  }

  #warning {
    text-align: center;
    border: 1px solid;
    padding: 10px;
    background-color: yellow;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    display: none;
    width: 250px;
    margin: 0 auto;
  }

  #warning.show {
    display: block;
  }